/*En vez de que el fondo rode todo, lo he hecho que cada color se expanda para que se pueda ver en cualquier dispositivo igual*/

body{
    background-color: #011031;
}

.flex{ /*Creamos este selector de classe para assignar flex*/
    display: flex;
}

.directionflex{ /*Para cambia la dirección*/
    flex-direction: column;
}

.centro{ /*Para poder en el centro los objetos y que esten siempre y que no se deformen*/
    width: 1400px; /*Ancho de cada bloque*/
    padding-left: 168px;
    padding-right: 168px;
}

.between{ /*Para hacer un espacio entre igual*/
    justify-content: space-between;
}

header{ /*Al header le ponemos que este en el centro*/
    display: flex;
    justify-content: center;
}

.espacio{ /*Separacion de 20px*/
    gap: 20px;
}

.fondo-azul{ /*Para poner el fondo de un color azul fuerte*/
    background-color: #0A2A6B;
}

.fondo-blanco{ /*Para poner el fondo de color blanco*/
    background-color: #FFFFFF;
}

.white-text{ /*Para poner el texto de color blanco*/
    color: #FFFFFF; 
}

.centervertical{ /*Poner los items verticalmente en el centro*/
    align-items: center;
}

.centernotvertical{ /*Poner los items de forma horizontal*/
    justify-content: center;
}

#menu li{ /*ID de la lista, le quitamos el estilo, ponemos un color de texto*/
    list-style: none;
    a{
        text-decoration: none;
        color: #000000;
    }
}

main{ /*Selector general de main, para que salga la imagen i q cubra cuando haya texto y este en el centro*/
    display: flex;
    justify-content: center;
    background: url(img/photos/señor1.jpg);
    background-size: cover;
}

.padding-top-bottom{ /*Un padding para el main*/
    padding-top: 15em;
    padding-bottom: 15em;
}

.color-blue{ /*Poner el texto de color Azul marino*/
    color: #0A2A6B;
}


h1{ /*Cambiar el tamaño para que se vea igual que en la imagen*/
    font-size: 50px;
    width: 900px;
}

.styleh2{ /*Quitar la decoracion de un texto para h2*/
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

.aboutus{ /*Hacemos el boton para el about us*/
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 170px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    a{
        text-decoration: none;
        color: #0A2A6B;
    }
}

footer{ /*Footer para que se quede centrado y el texto de color blanco*/
    display: flex;
    justify-content: center;
    background-color: #0A2A6B;
    color: white;
}

.style2{ /*Classe para poner el estilo de Tebuchet al parraffo del footer*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 350px;
    border-right: 1px solid #FFFFFF;
}

.freequote{ /*Para el boton freequote*/
    font-size: 14px;
    width: 100px;
    background-color: #FFFFFF;
    width: 170px;
    justify-content: center;
    border-radius: 10px;
    a{
        text-decoration: none;
        color: #0A2A6B;
    }
}
